<h2>Book Appointment</h2>

<form method="POST">

<select name="counselor_id" required>
    {% for c in counselors %}
    <option value="{{ c.id }}">{{ c.full_name }}</option>
    {% endfor %}
</select><br><br>

<input type="date" name="date" required><br><br>
<input type="time" name="time" required><br><br>

<!-- PAYMENT OPTIONS -->
<h4>Choose Payment Method (100 KES)</h4>

<select name="payment_method" required>
    <option value="">-- Select Payment --</option>
    <option value="mpesa">M-Pesa</option>
    <option value="card">Card</option>
</select><br><br>

<button type="submit">Pay & Book</button>

</form>